body {
    /* Variables for colors */
    --mainbg: hsla(0, 33%, 96%, 1);
    --accentcolor: rgba(229, 124, 35, 1);
    --headerbg: #025464;
    --headcolor1: #F37335;
    --headcolor2: #E8AA42;
    --imgaccent: #faf3ca;

    background-color:var(--mainbg);
}

#pictures { display:flex; justify-content: center; gap:1.5vw; background-color: var(--headerbg); width:60vw; padding:1em; border-radius:10px; }
#pictures img:first-child, #pictures img:last-child { border:3px solid var(--mainbg); }
#pictures img { transition:all .5s; }
#pictures img:hover { filter: grayscale(100%); -webkit-filter: grayscale(100%); }
header { display:flex; align-items: center; justify-content: space-between; padding: 0 5vw; background-color:var(--headerbg); }
h1 { font-family:Righteous; font-size:2vw; text-transform:uppercase; color:var(--mainbg); }
nav { color:var(--accentcolor); }
nav a { font-family:Nunito; text-decoration:none; color:var(--mainbg); margin:0 1vw; transition:all .5s; }
nav a:hover, nav a:focus, nav a:active { color:var(--headcolor1); }
section { width:60vw; margin:auto; font-family:Nunito; }
section p::first-letter { font-size:1.3em; font-weight:700; padding-left:1vw; color:var(--accentcolor); }
footer { background-color: var(--headerbg); font-family:Nunito; color:var(--mainbg); }
footer h3 { text-align:center; font-family:Righteous; text-transform:uppercase; padding:1em; }
footer p { font-style:italic; text-align:center; padding-bottom:1em; }
article h2 span { background: -webkit-linear-gradient(0deg, var(--headcolor1) 0%, var(--headcolor2) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
article:nth-of-type(2) h2 span { background: -webkit-linear-gradient(0deg, var(--headcolor2) 0%, var(--headcolor1) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
